<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/main.css">

	<!-- <link rel="stylesheet" href="C:\Users\Salvador\Desktop\colaborador-\src\app\css-o-sass\estilosLocales.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


    <header>
      <div class="container-fluid">
        <nav class="navbar bg-secondary">
          <div class="row">
            <div class="ml-4 ">
              <span class="btn btn-success text-white margen">Crear cuenta </span>

            </div>
          </div>

        </nav>
      </div>
    </header>
    <div class="container">


          <form class="" action="inicio.html" method="post">
            <input type="text" name="" value="" placeholder="Correo" class="centrado">
            <input type="password" name="" value="" placeholder="Contraseña" class="centrado">
            <input type="text" name="" value="" placeholder="Nombre Usuario" class="centrado">
            <input type="button" name="" value="enviar" class="btn btn-success centrado2">
          </form>


    </div>

<script src="main.js"></script>
</body>
</html>
